/*CORPS */

body
{
	
	font-family:'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}
#container
{
	width: 100%;
	max-width: 1200px;
}

header
{
	display: flex;
		
	justify-content:space-between;
	/*maquette*/
	border: solid black 3px;
	/*maquette*/	
}
main
{
	background-color: burlywood;
	margin-top: 0px;
}

nav
{
	display: flex;
	align-items: center;

	/*maquette*/
	border: solid purple 3px;
	/*maquette*/	
	
}
nav ul
{
	display: flex;
}
nav li
{
	list-style: none;
	padding: 10px;
}

#banner
{
	height: 450px;
	position:relative ;
	/*maquette*/
	border: solid red 3px;
	/*maquette*/

}
#bannerimage
{
    
	/*maquette*/
	border: solid blue 3px;
	/*maquette*/
	position: absolute;
	width: 100%;
    height: 100%;
	  	
}
#bannerimage img
{
	object-fit: cover;
		
}

#bannercontent
{
	position: absolute;
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;	
}

#presentation
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#competences
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}