/*CORPS */

body
{
	
	font-family:'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

main
{
	
	margin-top: 0px;
}
/*demander une clarification bastien sur la necessite de creer 
div ici pour contener flex, */

#entete

{
	display: flex;
	justify-content: space-between;
}

nav
{
	display: flex;
	align-items: center;
	justify-content: flex-end;

	/*maquette*
	border: solid purple 3px;
	/*maquette*/	
	
}
nav ul
{
	display: flex;
}
nav li
{
	list-style: none;
	padding: 10px;
}

#banner
{
	height: 450px;
	position:relative ;
	/*maquette*
	border: solid red 3px;
	/*maquette*/

}

#bannerimage img
{
	object-fit:cover;
	position: absolute;
	width: 100%;
    height: 100%;
		
}

#bannercontent
{
	position: absolute;
	width: 100%;
	height: 100%;	
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;	
}

#bannercontentlogo 
{
    width: 200px;
}

#bannercontent h1
 {
	color: white;
	font-weight: 400;
	margin-top: 3%;
}

#presentation
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	margin: 20px;
	text-align: center;
	max-width: 800px;
	
}

#competences
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	
}
.skills
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article
{
	text-align: center;
	padding: 0 20px 0 20px;
}

#presentation article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	justify-content: space-around;
}
#container
{
	
	max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	
}

/* Sur les grands écrans, on limite la largeur du contenu */
@media (min-width: 1200px)
{
    .container {
        width: 1170px;
    }
}
