header
{
	display: flex;
	flex-direction: row;	
	justify-content:space-between;
	/*maquette*/
	border: solid black 3px;
	/*maquette*/
	
}
ul
{
	display: flex;
	
}
nav
{
	border: solid blueviolet 3px;
	padding: 6px;
}